.font0 {
  font-family: 'Gloria Hallelujah', sans-serif;
}

.font1{
font-family: 'Acme', sans-serif;
}

.font2{
  font-family: 'Raleway', sans-serif;
}

.nav-center {
  padding-left: 47%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-background {
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 20%,rgba(255,255,255,0.25) 80%,rgba(255,255,255,0) 100%);
color: white;
}

.title-text-dark {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: wavy;
  padding: 25px 0 10px 0;
}

.title-text-white {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: wavy;
}

.sub-title {
  text-decoration: underline;
}
#about {
  padding: 2% 0 5% 0;
}

#skills { 
  background: url(../img/bgskills.jpg) no-repeat center center; 
  background-size: cover;
padding: 4% 10%;
}

#portfolio {
  padding: 2% 0 5% 0;
}

#contact { 
  background: url(../img/bgcontact.jpg) no-repeat center center; 
  background-size: cover;
padding: 4% 20%;
}

.carousel-middle {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-41%, -59%);
}

.carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  background:rgba(0,0,0,0.7)
}

footer {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%);
}